$earth-size: 3vw
$mercury-size: $earth-size / 2.6
$venus-size: $earth-size / 1.1
$sun-size: $earth-size * 2
$mars-size: $earth-size * 0.53
$jupiter-size: $earth-size * 4.2
$saturn-size: $earth-size * 3.45
$uranus-size: $earth-size * 2.9
$neptune-size: $earth-size * 2.2
$satellite-size: $earth-size / 6.25
$gap-between-planets: $earth-size / 5
