$earth-size: 100px
$mercury-size: calc($earth-size / 2.6)
$venus-size: calc($earth-size / 1.1)
$sun-size: calc($earth-size * 2)
$mars-size: calc($earth-size * 0.53)
$satellite-size: 16px
$gap-between-planets: 20px